{"name":"control","version":"3.0.0","license":"MIT","description":"Common control classes and utility functions","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v3.0.0","dependencies":{"prelude":">=3.0.0 <4.0.0"}}
{"name":"control","version":"3.1.0","license":"MIT","description":"Common control classes and utility functions","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v3.1.0","dependencies":{"prelude":">=3.0.0 <4.0.0"}}
{"name":"control","version":"3.2.0","license":"MIT","description":"Common control classes and utility functions","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v3.2.0","dependencies":{"prelude":">=3.0.0 <4.0.0"}}
{"name":"control","version":"3.3.0","license":"MIT","description":"Common control classes and utility functions","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v3.3.0","dependencies":{"prelude":">=3.0.0 <4.0.0"}}
{"name":"control","version":"3.3.1","license":"MIT","description":"Common control classes and utility functions","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v3.3.1","dependencies":{"prelude":">=3.0.0 <4.0.0"}}
{"name":"control","version":"4.0.0","license":"BSD-3-Clause","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v4.0.0","dependencies":{"prelude":">=4.0.0 <5.0.0"}}
{"name":"control","version":"4.1.0","license":"BSD-3-Clause","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v4.1.0","dependencies":{"prelude":">=4.0.0 <5.0.0"}}
{"name":"control","version":"4.2.0","license":"BSD-3-Clause","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v4.2.0","dependencies":{"newtype":">=3.0.0 <4.0.0","prelude":">=4.0.0 <5.0.0"}}
{"name":"control","version":"5.0.0","license":"BSD-3-Clause","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v5.0.0","dependencies":{"newtype":">=4.0.0 <5.0.0","prelude":">=5.0.0 <6.0.0"}}
{"name":"control","version":"6.0.0","license":"BSD-3-Clause","location":{"githubOwner":"purescript","githubRepo":"purescript-control"},"ref":"v6.0.0","dependencies":{"newtype":">=5.0.0 <6.0.0","prelude":">=6.0.0 <7.0.0"}}
